.success {
    text-align: center;
    padding: 50px;
  }
  
  .success h1 {
    color: #25ae88;
    font-size: 2em;
  }
  
  .success div {
    margin-top: 20px;
  }
  
  .success p {
    font-size: 1.2em;
  }
  
  .success a {
    text-decoration: none;
    color: #25ae88;
    font-size: 1.2em;
  }
  
  #messages {
    margin-top: 20px;
    color: #ff0000;
  }